RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /index.php?path=$1 [NC,L,QSA]

Header always set Strict-Transport-Security "max-age=31536000; includeSubDomains; preload" env=HTTPS
